{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BensonGathu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

  {% endblock %}

  <style>
    .skillset img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: 0.5s all ease-in-out;
    }
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.ttle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.proj-img:hover .image {
  opacity: 0.3;
}

.proj-img:hover .middle {
  opacity: 1;
}

.proj-img:hover .ttle {
  opacity: 1;
}


  </style>

</head>
<body>
    <div style="background-color:rgb(245,245,245);">
        <div class="container" >     
	        <div class="row align-items-center" >
			    <div class="col">         
		            <img class="profile-image img-fluid float-start rounded-circle" src="../../static/images/1580804303248.jpeg" alt="profile image" width="125px">
		            <div class="profile-content">
		                <h1 class="name">Benson Gathu</h1>
		                <h2 class="desc">FullStack Developer</h2>
                        <ul class="social list-inline">
                            <li class="list-inline-item ">
                                <a href="https://github.com/BensonGathu"  target="_blank"style="color: black;"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item ">
                                <a href="www.linkedin.com/in/benson-gathu-a9a8b41a0" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul> 
		            </div><!--//profile-->
			    </div><!--//col-->
            </div>
        </div>
    </div>

        <br>

        <div style="background-color: rgb(218,227,231);">
                <div class="container sections-wrapper py-5" >
                    <div class="row">
                        <div class="primary col-lg-8 col-12">

                    <section class="about section">
                        <div class="section-inner shadow-sm rounded" style="background-color: white;  padding: 5px;">
                            <h2 class="heading" style="color: rgb(84,94,105); font-family: Roboto; text-align: center;">About Me</h2>
                            <div class="content" style="font-family: Alegreya;">
                                <p>Self-motivated professional looking to utilize my academic and professional knowledge in an organization that offers dynamic, challenging and rewarding tasks as well as good working environment and good prospects for career advancements. This will enable me to fully exploit my potential towards achieving organizational goals and objectives.</p>
                             
                            </div><!--//content-->
                        </div><!--//section-inner-->                 
                    </section>
                    <p></p>
                    <section class="about section" >
                        <div class="section-inner shadow-sm rounded" style="background-color: white;  padding: 5px;">
                            <h2 class="heading" style="color: rgb(84,94,105); font-family: Roboto; text-align: center;">My Projects</h2>
                            <div class="content">
                            <ul>
                                <div class="row ">
                            {% for project in projects %}
                            <div class="col-md-6 proj-img" >
                                <div class="card" style="width: 18rem;">
                                    <img src="{{project.images.url}}" class="card-img-top image" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title ttle">{{project.title}}</h5>
                                      <p class="card-text">{{project.description | truncatechars:30 | safe }}
                    
                                        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Read More
                                          </button>
                                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                
                                                <div class="modal-body">
                                                  {{project.description | safe}}
                                                  
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      <a href="{{project.url}}" class="middle" target="_blank"><button type="button" class="btn btn-dark">Link</button></a>

                                    </div>
                                  </div>
                            </div>
                        
                            {%endfor%} 
                        </div>
                                   
                            </ul>
                            </div><!--//content-->
                        </div><!--//section-inner-->                 
                    </section>
                    
                
                </div>
                <div class="secondary col-lg-4 col-12">
                    <aside class="info aside section" >
                        <div class="section-inner shadow-sm rounded"style="background-color: white; padding: 5px; ">
                            <h2 class="heading sr-only" style="color: rgb(84,94,105);">Basic Information</h2>
                            <div class="content">
                                <ul class="list-unstyled" style=" padding: 5px;" >
                                    <h6><li><i class="fa fa-envelope" aria-hidden="true"></i>: bensongathu23@gmail.com</li></h6>
                                    <h6><li><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>: +254703446950</li></h6>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <p></p>

                    <aside class="skills aside section" >
                        <div class="section-inner shadow-sm rounded" style="background-color: white; padding: 5px;">
                            <h2 class="heading" style="color: rgb(84,94,105); font-family: Roboto; text-align: center;">Skills</h2>
                            <div class="content">
                                <p class="inro" style="font-family: Verdana;">Profecient in the following:</p>
                                <div class="skillset">
                                    <div class="item container">
                                        <img src="../../static/images/ht.png" alt="css" style="height: 100px;">
                                        <img src="../../static/images/js.png" alt="css"style="height: 70px;">
                                        <div class="row">
                                          <div class="col-sm-4">
                                        <img src="../../static/images/django.png" alt="django" style="height: 28px;">
                                      </div>
                                      <div class="col-sm-4">
                                        <img src="../../static/images/python.png" alt="python" style="height: 50px;">
                                        
                                      </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <img src="../../static/images/flask.png" alt="flask" style="height: 58px;">
                                    </div>
                                    <div class="col-sm-6" style="padding-top: -2px;">
                                      <img src="../../static/images/postgress-logo.png" alt="postgresql" style="height: 100px; ">
                                      
                                    </div>
                                    </div>
                                      <img src="../../static/images/jq.png" alt="jquery" style="height: 105px;width: auto;">
                                      <img src="../../static/images/Angular-Logo.png" alt="Angular-" style="height: 125px;">
                                      <img src="../../static/images/git.jpeg" alt="git" style="height: 100px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
	        </div><!--//row-->         
    </div>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";
          }
        }
        </script>
</body>
</html>